<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to our Rideshare App!
      </h1>
      <h2 class="subtitle">
        This is a subtitle
      </h2>
    </div>
  </div>
</section>

<%= link_to 'For Drivers', drivers_path %>
<br><br>

<%= link_to 'For Passengers', passengers_path %>
