<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Drivers
      </h1>
      <h3>Find by Name</h3>
      <%= render partial: "shared/find_by_name", locals: {action_name: "Find Driver", url: by_name_path} %>
    </div>
  </div>
</section>


<ul class='show-page'>
  <li>Name</li>
  <li>Rating</li>
</ul>

<section>
  <ul class='show-page'>
    <% @drivers.each do |driver| %>
      <li>
        <%= link_to "#{driver.name}", driver_path(driver.id) %>
      </li>
      <li>
        <%= driver.average_rating %>
      </li>
    <% end %>
  <ul>
</section>
